@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1200px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 80vw;
        height: 300px;
    }

    #imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 65%;
    }
}

@media screen and (min-width:1200px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 1150px;
        height: 400px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
        margin: 55px 0px;
    }
}