@charset "UTF-8";

/*  Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: absolute;
    background-color: white;
    width: 70vw;
    height: 70vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
}

#imagem{
    height: 30vh;
    background: black url(../imagens/building.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.campo{
    background-color: #5f2c82;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}

.campo > input{
    background-color: #94cfcd;
    color: white;
    border-radius: 5px;
    line-height: 2em;
    margin-bottom: 5px;
    border-style: none;
}

.botao{
    background-color: white;
    color: #49a09d;
    text-decoration: none;
    margin: auto;
    padding: 10px 80px;
    border: 1px solid #49a09d;
    border-radius: 5px;
}

.botao:hover{
    background-color: #49a09d;
    color: white;
}