@charset "UTF-8";

/*  Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    background-color: white;
    width: 370px;
    height: 560px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.422);
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

#imagem{
    display: block;
    height: 240px;
    background: #5f2c82 url(../imagens/building.jpg) no-repeat center center;
    background-size: cover;
}

#formulario{
    display: block;
    width: 350px;
    margin: auto;
    font-size: 1em;
}

.campo{
    background-color: #5f2c82;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}
.campo > label{
    width: 10%;
    line-height: 2em;
}

.campo > label > span{
    color: white;
    width: 24px;
}

.campo > input{
    background-color: #94cfcd;
    border-radius: 5px;
    line-height: 2em;
    width: calc(100% - 40px);
    margin: 5px 5px;
    border-style: none;
}

.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 80%;
    height: 2.5em;
    margin: auto;
    margin-top: 10px;

    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2a5d5b;
}

.botao{
    display: block;
    background-color: white;
    color: #49a09d;
    text-decoration: none;
    width: 80%;
    height: 2.5em;
    margin: auto;
    margin-top: 10px;
    padding: 6px;
    border: 1px solid #49a09d;
    border-radius: 5px;
}

.botao:hover{
    background-color: #49a09d;
    color: white;
}

.botao > span{
    font-size: 0.9em;
}