@charset "UTF-8";

/*  Paleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section{
    position: absolute;
    background-color: white;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.422);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#imagem{
    display: block;
    height: 30vh;
    background: #5f2c82 url(../imagens/building.jpg) no-repeat center center;
    background-size: cover;
}

#formulario{
    display: block;
}

.campo{
    background-color: #5f2c82;
    color: white;
    width: 300px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}

.campo > label > span{
    padding-bottom: 0px;
}

.campo > input{
    background-color: #94cfcd;
    color: white;
    border-radius: 5px;
    line-height: 2em;
    width: 80%;
    margin-bottom: 5px;
    border-style: none;
}

.botao{
    background-color: white;
    color: #49a09d;
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    padding: 10px 80px;
    border: 1px solid #49a09d;
    border-radius: 5px;
}

.botao:hover{
    background-color: #49a09d;
    color: white;
}